<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anhhoang.database">

    <application>
        <provider
            android:name=".ZoomPointProvider"
            android:authorities="com.anhhoang.zoompoint"
            android:exported="false" />
    </application>
</manifest>
